<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.testimonials').cycle({
        fx: 'fade',
        timeout: 10000,
        random: true,
        cleartypeNoBg: true
      });
    });
  </script>
<% end %>
<div id="main">
  <div class="container">
    <h1>Art-Thérapie</h1>
    <div class="twocol-2">
      <div class="col1">
        <p>L’art-thérapie utilise la création artistique (collage, peinture, argile, land-art, écriture, conte, marionnette, musique, photographie, …) pour <strong>pénétrer, d’une manière détournée, les problématiques inconscientes de la personne et lui permettre une transformation positive d’elle-même.</strong></p>
        <p>La prise de conscience est favorisée par la symbolisation, la mise en images, en formes, en couleurs et grâce au contact avec la matière. La personne explore, découvre et développe ses sensations, ses perceptions, au fur et à mesure de ses créations.</p>
        <p>Les « œuvres » ainsi créées sont un miroir, une représentation de la personne elle-même et de la situation présentée.</p>
        <p>L’atelier est un espace sécurisant, un « espace potentiel » où tout peut se créer, se recréer et se transformer : <strong>« Un endroit où les mains ont la parole »</strong>.</p>

        <p class="quote" style="text-align:center;margin-left:0;">Individuel &nbsp;&nbsp;&nbsp; Groupe &nbsp;&nbsp;&nbsp; Couple</p>

        <img src="images/peinture.jpg"></img>
        <img src="images/agile.jpg"></img>
        <img src="images/collage.jpg"></img>

        <p>Pour plus de renseignements, <a href="contact.htm">contactez-moi</a></p>
        <p>Séances remboursées par les assurances reconnues ASCA.</p>
        <p>Toute annulation moins de 48h à l'avance sera facturée.</p>

      </div>
      <div class="col2">

        <p>
        Lithothérapie
        Tout un monde naturel de couleurs, de chaleur... 
        Qui ne demande qu’à nous aider !!!
        La lithothérapie est l'application thérapeutique de l'énergie émise par les pierres. Il est reconnu que l'homme est vibratoire, de même que l’univers qui l’entoure. Chaque objet, être vivant ou même la pensée vibrent a des fréquences qui leur sont propres.
        Lorsque nous perdons notre « vitesse de croisière » (dû à des blocages, mauvaise hygiène de vie, stress, pensées limitatives ou destructrices, ...), nous ne sommes plus en harmonie avec le tout et notre nature intrinsèque s’en trouve perturbée, d’où les divers troubles qui peuvent apparaître. Les pierres et les cristaux sont en quelque sorte les relais de cette vibration provenant à la fois de la terre et du cosmos et permettent de nous « rééquilibrer ».
        Un soin permettant de retrouver une énergie naturelle, régénératrice et revitalisante.
        </p>
      </div>

      <div class="bas">
        <a href="temoignages.htm">
          <div class="testimonials">
            
            <div class="quote">
              <p>Corinne, la magicienne des serrures verrouillées !</p>
              <p class="name">Viviane</p>
              <p>Ecoute, respect, rire, joie, humaine, magique, voilà la définition de Corinne, mon art-thérapeute.</p>
              <p class="name">Sonia</p>
              <p>Prendre du temps pour penser à soi. Réfléchir sur sa vie, fixer des priorités. C’est le début d’un très beau voyage avec de belles découvertes.</p>
              <p class="name">Alexandra</p>
              <p>La dame qui m’aide à grandir… </p>
              <p class="name">Garic, 3 ans</p>
            </div>

            <div class="quote">
              <p>Corinne n’est pas quelqu’un que l’on décrit, c’est quelqu’un que l’on rencontre !</p>
              <p class="name">Tony</p>
              <p>Corinne a su me montrer le chemin pour trouver la paix en moi-même.</p>
              <p class="name">Christine</p>
              <p>Vivre ce temps de transformation au cœur de soi et dans l’accueil.</p>
              <p class="name">Marie-José</p>
            </div>

            <div class="quote">
              <p>Corinne, grâce à sa perception, son écoute et son respect de la personne parvient à nous faire nous dépasser et découvrir tous les aspects souvent dans « l’invisible, ou l’ombre&nbsp;» de chacun de nous. On se réjouit de cours en cours de se laisser surprendre par les échanges et la dynamique qu’elle procure au groupe par ses magnifiques Vibraction. </p>
              <p class="name">Corinne
              </p>
            </div>

            <div class="quote">
              <p>Corinne m’apporte une nouvelle vision, perception de moi-même que je n’avais jamais soupçonnée. Elle m’accueille à mon rythme. C’est une démarche sans jugement qui est surprenante.</p>
              <p class="name">Sarah</p>
            </div>

          </div>
        </a>
      </div>
    

      <hr class="clear" />
    </div>
  </div>
</div>


