<% content_for :head do %>
    <script type="text/javascript">
      $(document).ready(function() {
          $('.testimonials').cycle({
          fx: 'fade',
          timeout: 10000,
          random: true,
          cleartypeNoBg: true
          });

          $('a.submit:not(.full)').bind('click', function(e) {
            e.stopImmediatePropagation();
            });

          $('a.submit.full').bind('click', function(e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            });

          $('.more').hide();

          $('.course-box').bind('mouseenter', function() {
            $(this).find('.more:hidden').slideDown();
            }).bind('click', function() {
              $(this).find('.more:visible').slideUp();
              });
          });
</script>
<% end %>

    <div id="main">
      <div class="container">
        <h1>Détente Créative</h1>
        <div class="twocol">
          <div class="col1">
            <div class="course-box">
              <img src="images/cours/powertex.png" alt="Powertex"/>
              <h2>Powertex &reg;</h2>

              <p class="short-desc">La créativité en 3D avec la nouvelle génération des durcisseurs textiles</p>
              <div class="more">
                <p>Objets décoratifs, sculptures, lampes, figurines, tableaux, laisser libre cours à votre imagination pour découvrir cette matière extraordinaire, qui permets de créer sans fin !</p>
                <p><a href="./detente-creative.htm#powertext">en savoir plus</a></p>
                <div class="infos">
                  <p>Lieu : Atelier Vibraction <br/>
                  Nombre de personnes : 3 à 5<br/>
                  Prix : CHF 290.- (la journée, matériel compris)<br/>
                  Durée : 7h sur 1 atelier</p>
                </div>
              </div>
            </div>
            <div class="course-box-bottom">&nbsp;</div>
          </div>

          <div class="col2">
            <div class="course-box">
              <img src="images/cours/encaustique.png" alt="Encaustique"/>
              <h2>Encaustique</h2>
              <p class="short-desc">Technique de peinture «&nbsp;au fer à repasser&nbsp;»</p>

              <div class="more">
                <p>Laissez-vous envahir par la magie de cette technique de hasard, mais qui peut également «&nbsp;s'apprivoiser&nbsp;».</p>
                <p><a href="./detente-creative.htm#encaustique">en savoir plus</a></p>
                <div class="infos">
                  <p>Lieu : Atelier Vibraction<br/>
                  Nombre de personnes : 3 à 6<br/>
                  Prix : CHF 400.- (40.-/heure, matériel compris)<br/>
                  Durée : 10h sur 4 ateliers</p>
                </div>
              </div>
              <div class="course">
                 <p>Date à venir – vous pouvez faire part de votre intérêt via <a href="./cours_inscription.php?cours_name=Encaustique&cours_date=">le formulaire d’inscription</a></p>
              </div>
            </div>
            <div class="course-box-bottom">&nbsp;</div>
          </div>

          <hr class="clear" />
        </div>

        <h1>Développement personnel / Art-thérapie en groupe</h1>
        <div class="twocol">
          <div class="col1">
            <div class="course-box">
              <img src="images/cours/vie_en_plus.png" alt="La vie en plus !"/>
              <h2>La vie en plus !</h2>
              <p class="short-desc">Venez créer votre pensée positive !</p>

              <div class="more">
                <p>Envie de sourire un peu plus à la vie ? Cet atelier vous propose de positiver dès le réveil, trouver du positif en toute situation, prendre conscience de votre pouvoir créateur.</p>
                <div class="infos">
                  <p>Lieu : Atelier Vibraction<br/>
                  Nombre de personnes : 3 à 6<br/>
                  Prix : CHF 300.- (40.-/heure, matériel compris)<br/>
                  Durée : 7h30 sur 3 ateliers</p>
                </div>
              </div>
            </div>
            <div class="course-box-bottom">&nbsp;</div>

            <div class="course-box">
              <img src="images/cours/force_de_la_nature.png" alt="La force de la nature"/>
              <h2>La force de la nature</h2>
              <p class="short-desc">Une invitation à partager un moment unique et découvrir les multiples ressources à notre disposition au cœur de la nature.</p>

              <div class="more">
                <p>La nature fait partie de notre environnement, elle est constamment présente et évolue en fonction des saisons, tout comme nous. Cet atelier vous propose de venir explorer, de créer en plein air, de respirer, de retrouver votre centre, de lâcher prise et de découvrir une autre facette de la «&nbsp;création&nbsp;», ceci au rythme des saisons.</p>
                <div class="infos">
                  <p>Lieu : En extérieur<br/>
                  Nombre de personnes : 3 à 7<br/>
                  Prix : CHF 480.- (40.-/heure, matériel compris)<br/>
                  Durée : 12h sur 4 ateliers</p>
                </div>
              </div>
              <div class="course">
                <ul>
                  <li>Samedi 04.10.14 de 9h à 12h</li>
                  <li>Samedi 10.01.15 de 9h à 12h</li>
                  <li>Samedi 04.04.15 de 9h à 12h</li>
                  <li>Samedi 04.07.15 de 9h à 12h</li>
                </ul>
                <a href="./cours_inscription.php?cours_name=La force de la nature&cours_date=4 octobre 2014 à 9h au 4 juillet 2015" class="submit">S'inscrire</a>
              </div>

              <div class="course">
                <ul>
                  <li>Samedi 04.10.14 de 13h30 à 16h30</li>
                  <li>Samedi 10.01.15 de 13h30 à 16h30</li>
                  <li>Samedi 04.04.15 de 13h30 à 16h30</li>
                  <li>Samedi 04.07.15 de 13h30 à 16h30</li>
                </ul>
                <a href="./cours_inscription.php?cours_name=La force de la nature&cours_date=4 octobre 2014 à 13h30 au 4 juillet 2015" class="submit">S'inscrire</a>
              </div>
            </div>
            <div class="course-box-bottom">&nbsp;</div>

            <div class="course-box">
              <img src="images/cours/rencontre_soi.png" alt="Rencontre avec Soi"/>
              <h2>Rencontre avec Soi</h2>
              <p class="short-desc">Une rencontre pleine de surprises...</p>

              <div class="more">
                <p>Dans la vie, nous avons tous des épreuves à passer et il peut arriver que nous ne sachions plus à quoi nous raccrocher. On se sent perdu. Ceci bien souvent car notre identité a été bousculée.  Cet atelier propose une autre approche pour faire connaissance avec soi...</p>
                <div class="infos">
                  <p>Lieu : Atelier Vibraction<br/>
                  Nombre de personnes : 3 à 6<br/>
                  Prix : CHF 800.- (40.-/heure, matériel compris)<br/>
                  Durée : 20h sur 8 ateliers</p>
                </div>
              </div>
              <div class="course">
  				      <p>Date à venir – vous pouvez faire part de votre intérêt via <a href="./cours_inscription.php?cours_name=Rencontre avec Soi&cours_date=">le formulaire d’inscription</a></p>
              </div>
            </div>
            <div class="course-box-bottom">&nbsp;</div>
          </div>
          <div class="col2">
            <div class="course-box">
              <img src="images/cours/renforcer_confiance.png" alt="Renforcer ma confiance"/>
              <h2>Renforcer ma confiance</h2>
              <p class="short-desc">La confiance, un atout à ne pas négliger.</p>

              <div class="more">
                <p>La confiance grandi par l'estime que l'on se porte. Souvent, notre culture d'occidentaux ne nous permet pas de l'acquérir «&nbsp;entièrement&nbsp;» dès notre jeune âge comme cela se fait dans d'autres cultures. Nous avons dès lors que de cesse de courir après le restant de notre vie. Comment devenir plus confiant en soi et donner moins d'importance à ce que pense son voisin ou sa famille ? Voilà, le thème abordé par cet atelier.</p>
                <div class="infos">
                  <p>Lieu : Atelier Vibraction<br/>
                  Nombre de personnes : 3 à 6<br/>
                  Prix : CHF 600.- (40.-/heure, matériel compris)<br/>
                  Durée : 15h sur 6 ateliers</p>
                </div>
              </div>
              <div class="course">
     			      <p>Date à venir – vous pouvez faire part de votre intérêt via <a href="./cours_inscription.php?cours_name=Renforcer ma confiance&cours_date=">le formulaire d’inscription</a></p>
              </div>

            </div>
            <div class="course-box-bottom">&nbsp;</div>

            <div class="course-box">
              <img src="images/cours/createur_ma_vie.png" alt="Créateur de ma vie"/>
              <h2>Créateur de ma vie</h2>
              <p class="short-desc">Se donner les moyens de construire sa vie selon ses aspirations.</p>

              <div class="more">
                <p>Nous sommes les créateurs de notre vie, alors comment reconnaître nos ressources et se donner les moyens d'atteindre nos objectifs ?</p>
                <div class="infos">
                  <p>Lieu : Atelier Vibraction<br/>
                  Nombre de personnes : 3 à 6<br/>
                  Prix : CHF 300.- (40.-/heure, matériel compris)<br/>
                  Durée : 7h30 sur 3 ateliers</p>
                </div>
              </div>
            </div>
            <div class="course-box-bottom">&nbsp;</div>

            <div class="course-box">
              <img src="images/cours/parenthese_equilibre.png" alt="Une parenthèse pour un meilleur équilibre"/>
              <h2>Une parenthèse pour un meilleur équilibre</h2>
              <p class="short-desc">"surprise!", ici et maintenant, vivre l'instant présent</p>

              <div class="more">
                <p>Ne vous arrive-t-il jamais d'utiliser le mot "vite"? ou même peut-être l'utilisez-vous souvent? Je vais "vite" ici, il faut "vite" que je fasse cela ou ceci. Notre époque nous pousse à aller de plus en plus vite, de plus en plus loin. Alors, cet atelier vous propose un moment de répit pour que vous puissiez vous offrir du temps et de l'attention, penser à vous, sortir du quotidien, vous vivre autrement.</p>
                <div class="infos">
                  <p>Lieu : Atelier Vibraction<br/>
                  Nombre de personnes : 3 à 6<br/>
                  Prix : CHF 800.- (40.-/heure, matériel compris)<br/>
                  Durée : 20h sur 8 ateliers</p>
                </div>
              </div>
              <div class="course">
                 <p>Date à venir – vous pouvez faire part de votre intérêt via <a href="./cours_inscription.php?cours_name=Une parenthèse pour un meilleur équilibre&cours_date=">le formulaire d’inscription</a></p>
              </div>
            </div>
            <div class="course-box-bottom">&nbsp;</div>
          </div>
          <hr class="clear" />
        </div>
        <p class="center">Pour toute annulation moins d'une semaine à l'avance, le cours sera entièrement facturé.</p>
      </div>
    </div>
