<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#gallery a').lightBox(); // Select all links in object with gallery ID
      });
  </script>
<% end %>
</head>
<body>
  <div id="main">
    <div class="container">
      <h1>Créations</h1>
      <div id="gallery">
        <a href="photos/creation-1.jpg"><img src="photos/thumbs/creation-1.jpg" width="100" height="100" alt="creation-1" /></a>
        <a href="photos/creation-2.jpg"><img src="photos/thumbs/creation-2.jpg" width="100" height="100" alt="creation-2" /></a>
        <a href="photos/creation-3.jpg"><img src="photos/thumbs/creation-3.jpg" width="100" height="100" alt="creation-3" /></a>
        <a href="photos/creation-4.jpg"><img src="photos/thumbs/creation-4.jpg" width="100" height="100" alt="creation-4" /></a>
        <a href="photos/creation-5.jpg"><img src="photos/thumbs/creation-5.jpg" width="100" height="100" alt="creation-5" /></a>
        <a href="photos/creation-6.jpg"><img src="photos/thumbs/creation-6.jpg" width="100" height="100" alt="creation-6" /></a>
        <a href="photos/creation-7.jpg"><img src="photos/thumbs/creation-7.jpg" width="100" height="100" alt="creation-7" /></a>
        <a href="photos/creation-8.jpg"><img src="photos/thumbs/creation-8.jpg" width="100" height="100" alt="creation-8" /></a>
        <a href="photos/creation-9.jpg"><img src="photos/thumbs/creation-9.jpg" width="100" height="100" alt="creation-9" /></a>
      </div>
      <h1>Encaustique</h1>
      <div id="gallery">
        <a href="photos/encaustique-1.jpg"><img src="photos/thumbs/encaustique-1.jpg" width="100" height="100" alt="encaustique-1" /></a>
        <a href="photos/encaustique-2.jpg"><img src="photos/thumbs/encaustique-2.jpg" width="100" height="100" alt="encaustique-2" /></a>
        <a href="photos/encaustique-3.jpg"><img src="photos/thumbs/encaustique-3.jpg" width="100" height="100" alt="encaustique-3" /></a>
        <a href="photos/encaustique-4.jpg"><img src="photos/thumbs/encaustique-4.jpg" width="100" height="100" alt="encaustique-4" /></a>
        <a href="photos/encaustique-5.jpg"><img src="photos/thumbs/encaustique-5.jpg" width="100" height="100" alt="encaustique-5" /></a>
        <a href="photos/encaustique-6.jpg"><img src="photos/thumbs/encaustique-6.jpg" width="100" height="100" alt="encaustique-6" /></a>
        <a href="photos/encaustique-7.jpg"><img src="photos/thumbs/encaustique-7.jpg" width="100" height="100" alt="encaustique-7" /></a>
        <a href="photos/encaustique-8.jpg"><img src="photos/thumbs/encaustique-8.jpg" width="100" height="100" alt="encaustique-8" /></a>
        <a href="photos/encaustique-9.jpg"><img src="photos/thumbs/encaustique-9.jpg" width="100" height="100" alt="encaustique-9" /></a>
        <a href="photos/encaustique-10.jpg"><img src="photos/thumbs/encaustique-10.jpg" width="100" height="100" alt="encaustique-10" /></a>
        <a href="photos/encaustique-11.jpg"><img src="photos/thumbs/encaustique-11.jpg" width="100" height="100" alt="encaustique-11" /></a>
        <a href="photos/encaustique-12.jpg"><img src="photos/thumbs/encaustique-12.jpg" width="100" height="100" alt="encaustique-12" /></a>
        <a href="photos/encaustique-13.jpg"><img src="photos/thumbs/encaustique-13.jpg" width="100" height="100" alt="encaustique-13" /></a>
        <a href="photos/encaustique-14.jpg"><img src="photos/thumbs/encaustique-14.jpg" width="100" height="100" alt="encaustique-14" /></a>
        <a href="photos/encaustique-15.jpg"><img src="photos/thumbs/encaustique-15.jpg" width="100" height="100" alt="encaustique-15" /></a>
        <a href="photos/encaustique-16.jpg"><img src="photos/thumbs/encaustique-16.jpg" width="100" height="100" alt="encaustique-16" /></a>
      </div>
      <h1>Powertex &reg;</h1>
      <div id="gallery">
        <a href="photos/powertex-1.jpg"><img src="photos/thumbs/powertex-1.jpg" width="100" height="100" alt="powertex-1" /></a>
        <a href="photos/powertex-2.jpg"><img src="photos/thumbs/powertex-2.jpg" width="100" height="100" alt="powertex-2" /></a>
        <a href="photos/powertex-3.jpg"><img src="photos/thumbs/powertex-3.jpg" width="100" height="100" alt="powertex-3" /></a>
        <a href="photos/powertex-4.jpg"><img src="photos/thumbs/powertex-4.jpg" width="100" height="100" alt="powertex-4" /></a>
        <a href="photos/powertex-5.jpg"><img src="photos/thumbs/powertex-5.jpg" width="100" height="100" alt="powertex-5" /></a>
        <a href="photos/powertex-6.jpg"><img src="photos/thumbs/powertex-6.jpg" width="100" height="100" alt="powertex-6" /></a>
        <a href="photos/powertex-7.jpg"><img src="photos/thumbs/powertex-7.jpg" width="100" height="100" alt="powertex-7" /></a>
        <a href="photos/powertex-8.jpg"><img src="photos/thumbs/powertex-8.jpg" width="100" height="100" alt="powertex-8" /></a>
        <a href="photos/powertex-9.jpg"><img src="photos/thumbs/powertex-9.jpg" width="100" height="100" alt="powertex-9" /></a>
        <a href="photos/powertex-10.jpg"><img src="photos/thumbs/powertex-10.jpg" width="100" height="100" alt="powertex-10" /></a>
        <a href="photos/powertex-11.jpg"><img src="photos/thumbs/powertex-11.jpg" width="100" height="100" alt="powertex-11" /></a>
        <a href="photos/powertex-12.jpg"><img src="photos/thumbs/powertex-12.jpg" width="100" height="100" alt="powertex-12" /></a>
        <a href="photos/powertex-13.jpg"><img src="photos/thumbs/powertex-13.jpg" width="100" height="100" alt="powertex-13" /></a>
        <a href="photos/powertex-14.jpg"><img src="photos/thumbs/powertex-14.jpg" width="100" height="100" alt="powertex-14" /></a>
        <a href="photos/powertex-15.jpg"><img src="photos/thumbs/powertex-15.jpg" width="100" height="100" alt="powertex-15" /></a>
        <a href="photos/powertex-16.jpg"><img src="photos/thumbs/powertex-16.jpg" width="100" height="100" alt="powertex-16" /></a>
        <a href="photos/powertex-17.jpg"><img src="photos/thumbs/powertex-17.jpg" width="100" height="100" alt="powertex-17" /></a>
        <a href="photos/powertex-18.jpg"><img src="photos/thumbs/powertex-18.jpg" width="100" height="100" alt="powertex-18" /></a>
        <a href="photos/powertex-19.jpg"><img src="photos/thumbs/powertex-19.jpg" width="100" height="100" alt="powertex-19" /></a>
        <a href="photos/powertex-20.jpg"><img src="photos/thumbs/powertex-20.jpg" width="100" height="100" alt="powertex-20" /></a>
        <a href="photos/powertex-21.jpg"><img src="photos/thumbs/powertex-21.jpg" width="100" height="100" alt="powertex-21" /></a>
        <a href="photos/powertex-22.jpg"><img src="photos/thumbs/powertex-22.jpg" width="100" height="100" alt="powertex-22" /></a>
        <a href="photos/powertex-23.jpg"><img src="photos/thumbs/powertex-23.jpg" width="100" height="100" alt="powertex-23" /></a>
        <a href="photos/powertex-24.jpg"><img src="photos/thumbs/powertex-24.jpg" width="100" height="100" alt="powertex-24" /></a>
      </div>
    </div>
  </div>

