<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.testimonials').cycle({
        fx: 'fade',
        timeout: 10000,
        random: true,
        cleartypeNoBg: true
      });
    });
  </script>
  <script type="text/javascript">
    $(function() {
      $('#gallery a').lightBox(); // Select all links in object with gallery ID
      });
  </script>
<% end %>
<div id="main">
  <div class="container">
    <h1>Thérapies</h1>
    <div class="twocol">
      <div class="col1 row1">
        <h2>Art-thérapie</h2>
        <p>L’art-thérapie utilise la création artistique (collage, peinture, argile, land-art, écriture, conte, marionnette, musique, photographie, …) pour <strong>pénétrer, d’une manière détournée, les problématiques inconscientes de la personne et lui permettre une transformation positive d’elle-même.</strong></p>
        <p>La prise de conscience est favorisée par la symbolisation, la mise en images, en formes, en couleurs et grâce au contact avec la matière. La personne explore, découvre et développe ses sensations, ses perceptions, au fur et à mesure de ses créations.</p>
        <p>Les « œuvres » ainsi créées sont un miroir, une représentation de la personne elle-même et de la situation présentée.</p>
        <p>L’atelier est un espace sécurisant, un « espace potentiel » où tout peut se créer, se recréer et se transformer : <strong>« Un endroit où les mains ont la parole »</strong>.</p>

        <p class="quote" style="text-align:center;margin-left:0;margin-right:0;">Individuel &nbsp;&nbsp;&nbsp; Groupe &nbsp;&nbsp;&nbsp; Couple</p>
      </div>

      <div class="col2 row1 eft">
        <h2>EFT – technique de libération émotionnelle</h2>
        <p>l'EFT fait partie du champ des thérapies énergétiques dites brèves. Elle a pour but d’alléger les souffrances émotionnelles, psychologiques et physiques. Elle se pratique par la stimulation de points situés sur le trajet des méridiens, tout en fixant son attention sur ce que l’on souhaite supprimer. L’EFT agit sur la perturbation du système d’énergie.</p>
        <p><strong>Pourquoi continuer à souffrir et se sentir mal ?</strong></p>
        <p class="etf_quote"><strong>OSEZ choisir un outil qui peut vous permettre de vous libérer et vous rendre la vie plus douce, plus belle, plus harmonieuse, plus…</strong></p>
        <p>J’ai plaisir de mettre à votre disposition, mon écoute, mon implication, ma passion et de partager mes connaissances, afin qu’ensemble, nous avancions dans le respect de votre être, sur votre chemin d’évolution.</p>
        <p>Comme le dit Gary Craig - créateur de l’EFT :</p>
        <p class="quote">«&nbsp;La cause de toute émotion négative est une perturbation dans le système énergétique du corps.&nbsp;»
        <p><span class="important">Exemples d'application :</span></p>
        <p>les phobies</p>
        <p><span class="bold">les émotions et sentiments douloureux :</span> colère, peur, tristesse, jalousie, anxiété, stress, honte, culpabilité, regret, abandon, sensation de rejet, ...</p>
        <p><span class="bold">les dépendances/manies :</span> tabagisme, envies compulsives, ...</p>
        <p><span class="bold">les traumatismes :</span> accident, deuil, divorce, syndrome de stress post-traumatique, peur de l'échec, … </p>
        <p><span class="bold">les croyances limitantes :</span> auto-sabotage dans les domaines professionnel, familial, relationnel, sentimental, scolaire, sportif, …</p>
        <p><span class="bold">les problèmes physiques :</span> douleurs, maux de tête, épuisement, problèmes de poids, allergies, …</p>
        <p>l’EFT produit de remarquables changements, mais ne se substitue aucunement à un traitement médical approprié.</p>
        <p>Consultation possible également par Skype sur rendez-vous.</p>
        <hr class="clear" />
      </div>

      <div class="col1 row2">
        <div id="gallery" class="images-two">
         <a href="photos/collage.jpg"><img src="photos/thumbs/thumbs_collage.jpg" width="190" height="190" alt="collage" /></a>
         <a href="photos/peinture.jpg"><img src="photos/thumbs/thumbs_peinture.jpg" width="190" height="190" alt="peinture" /></a>
        </div>

        <h2>Lithothérapie</h2>
        <p><b>Tout un monde naturel de couleurs, de chaleur...<br/>
        Qui ne demande qu’à nous aider !!!</b></p>
        <p>La lithothérapie est l'application thérapeutique de l'énergie émise par les pierres. Il est reconnu que l'homme est vibratoire, de même que l’univers qui l’entoure. Chaque objet, être vivant ou même la pensée vibrent a des fréquences qui leur sont propres.</p>
        <p>Lorsque nous perdons notre « vitesse de croisière » (dû à des blocages, mauvaise hygiène de vie, stress, pensées limitatives ou destructrices, ...), nous ne sommes plus en harmonie avec le tout et notre nature intrinsèque s’en trouve perturbée, d’où les divers troubles qui peuvent apparaître. Les pierres et les cristaux sont en quelque sorte les relais de cette vibration provenant à la fois de la terre et du cosmos et permettent de nous « rééquilibrer ».</p>
        <p><b>Un soin permettant de retrouver une énergie naturelle, régénératrice et revitalisante.</b></p>

        <div id="gallery" class="images-two">
         <a href="photos/litho1.jpg"><img src="photos/thumbs/thumbs_litho1.jpg" width="190" height="190" alt="litho1" /></a>
         <a href="photos/litho2.jpg"><img src="photos/thumbs/thumbs_litho2.jpg" width="190" height="190" alt="litho2" /></a>
        </div>
      </div>

      <div class="col2 row2">
        <a class="etf" href="photos/etf.jpg"><img src="photos/etf.jpg" alt="etf" /></a>
        <a class="temoignages1" href="temoignages.htm">
          <div class="testimonials">
            <div class="quote">
              <p>Corinne n’est pas quelqu’un que l’on décrit, c’est quelqu’un que l’on rencontre !</p>
              <p class="name">Tony</p>
              <p>Corinne a su me montrer le chemin pour trouver la paix en moi-même.</p>
              <p class="name">Christine</p>
              <p>Vivre ce temps de transformation au cœur de soi et dans l’accueil.</p>
              <p class="name">Marie-José</p>
            </div>

            <div class="quote">
              <p>Corinne, grâce à sa perception, son écoute et son respect de la personne parvient à nous faire nous dépasser et découvrir tous les aspects souvent dans « l’invisible, ou l’ombre&nbsp;» de chacun de nous. On se réjouit de cours en cours de se laisser surprendre par les échanges et la dynamique qu’elle procure au groupe par ses magnifiques Vibraction. </p>
              <p class="name">Corinne
              </p>
            </div>

            <div class="quote">
              <p>L’atelier « créateur de ma vie » m’a permis de mettre en mouvement des objectifs précis et de concrétiser une reprise en main de ma silhouette et d’améliorer mon estime de moi.
              Grâce à Corinne et ses énergies magnifiques, le partage avec les autres participantes a été très enrichissant. Merci pour tout !</p>
              <p class="name">Catherine</p>
            </div>

            <div class="quote">
              <p>Corinne m’apporte une nouvelle vision, perception de moi-même que je n’avais jamais soupçonnée. Elle m’accueille à mon rythme. C’est une démarche sans jugement qui est surprenante.</p>
              <p class="name">Sarah</p>
            </div>
          </div>
        </a>
        <a class="temoignages2" href="temoignages.htm">
          <div class="testimonials">
            <div class="quote">
              <p>Corinne, la magicienne des serrures verrouillées !</p>
              <p class="name">Viviane</p>
              <p>Ecoute, respect, rire, joie, humaine, magique, voilà la définition de Corinne, mon art-thérapeute.</p>
              <p class="name">Sonia</p>
            </div>

            <div class="quote">
              <p>Prendre du temps pour penser à soi. Réfléchir sur sa vie, fixer des priorités. C’est le début d’un très beau voyage avec de belles découvertes.</p>
              <p class="name">Alexandra</p>
              <p>La dame qui m’aide à grandir… </p>
              <p class="name">Garic, 3 ans</p>
            </div>

            <div class="quote">
              <p>L'EFT a été pour moi une vraie libération. Je remercie sincèrement Corinne de m'avoir accompagnée, avec sincérité, empathie et énormément d'humour, sur le chemin du bien-être. Je me sens vraiment revivre de l'intérieur ! Un immense merci à Corinne que je recommande très chaleureusement !</p>
              <p class="name">Teri</p>
            </div>
          </div>
        </a>
      </div>

      <hr class="clear" />
    </div>

    <div align="center">
      <p>Pour plus de renseignements, <a href="contact.htm">contactez-moi</a></p>
      <p>Séances remboursées par les assurances reconnues ASCA et RME.</p>
      <p>Toute annulation moins de 48h à l'avance sera facturée.</p>
    </div>
  </div>
</div>


