<div id="main">
  <div class="container">
    <!--p class="note">Retrouvez moi au premier salon <a href="http://www.questionsdage.ch">Questions d’âge</a> à <strong>l’Espace Gruyère de Bulle,<br />du 17 au 19 juin 2011</strong>.</p-->

    <p class="center"><%= image_tag('thumbs-inline.jpg') %></p>
    <div class="home-3col">
      <div class="col1">
        <h2><a href="art-therapie.htm">Thérapies</a></h2>
        <ul>
          <li>Lâcher prise</li>
          <li>Revenir à l'essentiel</li>
          <li>Trouver des solutions</li>
          <li>Développement personnel</li>
        </ul>
      </div>
      <div class="col2">
        <%= video_tag "video-mp4.mp4", :size => "400x224", :controls => true %>
      </div>
      <div class="col3">
        <h2><a href="detente-creative.htm">Détente Créative</a></h2>
        <ul>
          <li>Découvrir en explorant</li>
          <li>Apprendre une technique</li>
          <li>Prendre du plaisir</li>
          <li>Être en harmonie</li>
        </ul>
      </div>

      <hr class="clear"/>
    </div>
  </div>
</div>
