<div id="main">
  <div class="container">
    <h1>Témoignages</h1>
    <div class="twocol">
      <div class="col1 temoignages">
        <p>Voici quelques témoignages de participants sur ce que l’atelier leur a apporté :</p>
        <h2>Atelier « la vie en + »</h2>
        <p>Cet atelier m’a apporté un plus dans ma vie et un gros positif… de la sérénité.</p>
        <p class="name">Sonia</p>
        <p>Une ouverture d’esprit et une liberté, une mise en confiance, un approfondissement de l’estime de moi, un apaisement.</p>
        <p class="name">Caroline</p>
        <p>Une meilleure attitude face à des croyances-des peurs de l’enfance et comprendre certains fonctionnements autodestructeurs face à moi et appréhender la vie en … positif.</p>
        <p class="name">Corinne</p>
        <h2>Atelier Land art « la force de la nature »</h2>
        <p>Nous avions envie ma sœur et moi de nous offrir du temps pour nous hors du contexte familial habituel. Nous avons choisi ce cours car nous aimons nous promener en nature et apprécier l’énergie qu’elle nous donne. Chaque saison apporte sa subtilité et sa matière à réflexion, nous l’avons vécu à chaque fois en forêt mais à des lieux différents et c’était extraordinaire, la lumière, la neige, les arbres, le silence… Simplement être là, se laisser vivre, laisser parler son être intérieur et l’envie de créer vient et le résultat est magique. Cela m’a procuré du bien-être, du repos, un moment entre parenthèse hors du quotidien.</p>
        <p class="name">Anne-Sylvie</p>
        <p>Développer en 4 étapes (les saisons) un travail créatif et une découverte de soi au travers de la nature et des saisons. L’intérêt de faire cet atelier en plusieurs étapes, permet d’apprivoiser sa créativité et approfondir la connaissance de soi. Suivre l’atelier « force de la nature » m’a donné l’occasion de vivre dans la nature par tous les temps et en toutes saisons. Si la liberté de choisir le lieu de la création m’a un peu inquiété au début, par la suite, j’ai eu le plaisir de me laisser guider par l’inspiration et la créativité du moment. J’ai apprécié les encouragements, l’attention et le soutien bien à propos de Corinne lors des ateliers.</p>
        <p class="name">Sabine</p>
        <h2>EFT – technique de libération émotionnelle</h2>
        <p>J'ai particulièrement apprécié cette technique de libération émotionnelle, simple et très accessible, d'autant plus que le praticien participe activement. Cela donne donc lieu à une synergie interactive.
        Grâce à l'écoute et à l'accompagnement de Corinne, j'ai pu reprendre contact avec mes propres ressources, ce qui m'a permis de rebondir et de partir avec mes nouvelles cartes en main. Je la recommande chaleureusement pour ses précieuses qualités et son attention dans la simplicité du coeur.</p>
        <p class="name">Corinne</p>
        <p>Ma  toute chère Corinne, Je suis juste impressionnée par quel chemin simple, tu as réussi à me ramener sur des nœuds de mon passé,  que je pensais résolus, pour m’engager à la libération définitive de ces vielles mémoires,  alors qu’au départ, j’étais venue vers toi pour déprogrammer mon corps d’un choc physique, bien que je me doutais déjà que la cause était ailleurs 
        Tout simplement un immense merci du fond de mon cœur, tu as mis le doigt là où il fallait et moi, je continue alors à  tapoter avec les miens, hihi Bisou solaire</p>
        <p class="name">Valérie</p>
        <p>J'ai découvert l'EFT cet été pour la première fois grâce à l'intermédiaire d'une amie qui m'a gentiment proposée de m'aider à me libérer d'une souffrance. Assise en tailleur face à elle, elle m'a accompagnée pendant près d'une heure avec beaucoup d'écoute, de respect et d'empathie lors de ce voyage-retour vers un vieux démon. Ce n'était pas juste une répétition de phrases et de petits exercices physiques mais au contraire une vraie rencontre avec cette souffrance qui s'en est suivie par un soulagement progressif dont les premiers signes se sont fait voir très rapidement! Merci à toi belle amie.</p>
        <p class="name">Gwen</p>
        <p>L'EFT a été pour moi une vraie libération. Je remercie sincèrement Corinne de m'avoir accompagnée, avec sincérité, empathie et énormément d'humour, sur le chemin du bien-être. Je me sens vraiment revivre de l'intérieur ! Un immense merci à Corinne que je recommande très chaleureusement !</p>
        <p class="name">Teri</p>
        <p>Par ces quelques lignes j'aimerais te remercier pour la première séance d'EFT que nous avons eu ensemble le 19 juin. J'ai particulièrement apprécié ton écoute, et tes questions toujours respectueuses concernant ma problématique. J'ai le sentiment très agréable d'avoir pris une véritable douche énergétique bienfaisante, en plus d'avoir pu prendre conscience des tenants et aboutissants majeurs de cette problématique. Ton empathie, ta gentillesse, ta finesse d'esprit et ton professionnalisme m'ont permis de me sentir parfaitement à l'aise et de lâcher le gros morceau qui me retenait pour avancer vers ma légende personnelle. En quelques semaines, ma vie a été totalement réorientée vers ce que j'éprouve comme une meilleure actualisation de mon potentiel. Merci Corinne.</p>
        <p class="name">Jean-Marc</p>
      </div>
      <div class="col2 temoignages">
        <h2>Atelier « Ces hasards qui n’existent pas ! »</h2>
        <p>Quelques mots ....Ces hasards....J'ai redécouvert le Bonheur d'ouvrir bien grand les yeux, de sentir la vie et d'en apprécier ses petits riens.  Les soirées avec Corinne sont riches en émotions .</p>
        <p class="name">Sonia</p>
        <h2>Atelier « Rencontre avec soi »</h2>
        <p>Vibraction, c’est le mouvement en soi et à l’extérieur pour mieux se rencontrer et créer des liens d’amitiés dans la tolérance et le partage. Rire des situations de la vie pour lâcher. Trouver sa ligne de vie et se nourrir l’âme de créativité. Merci !</p>
        <p class="name">Marie-José
        <p>C’est un joli chemin à parcourir, je le recommande vivement ! Quelque soit le thème que vous décidez d’aborder, vous trouverez des réponses dans ce cours ! Essayez !</p>
        <p class="name">Christine</p>
        <p>Cet atelier m’a apporté beaucoup plus que je ne l’imaginais… cela m’a permis de prendre conscience de beaucoup de chose, de faire ressortir au grand jour ce que je refusais de voir ou connaître sur moi, de reprendre confiance et de ne pas faire vivre que le négatif. Merci !</p>
        <p class="name">Carole</p>
        <p>Je me suis bien éclatée dans ces moments de création. Corinne a bien mené cet atelier et a laissé assez de temps pour s’exprimer et se plonger dans nos œuvres. Merci.</p>
        <p class="name">Ruth</p>
        <p>C’est un bon et bel accompagnement + guidage dans ce monde si riche qu’est la créativité et le développement personnel.</p>
        <p class="name">Caroline</p>
        <p>Merci pour la richesse des matériaux proposés, l’aide si elle est désirée et les possibilités de s’amuser.</p>
        <p class="name">Marie-Claude</p>
        <p>« Rencontre avec soi » m’a permis de me voir… autrement et de découvrir comment « décoder » quelques ombres qui suivaient mon parcours. J’ai adoré les compositions de découpages et l’argile !</p>
        <p class="name">Corinne</p>
        <h2>Créateur de ma vie</h2>
        <p>L’atelier « créateur de ma vie » m’a permis de mettre en mouvement des objectifs précis et de concrétiser une reprise en main de ma silhouette et d’améliorer mon estime de moi.
        Grâce à Corinne et ses énergies magnifiques, le partage avec les autres participantes a été très enrichissant. Merci pour tout !</p>
        <p class="name">Catherine</p>
        <p>En nous demandant de construire notre propre mobile, sans mode d'emploi, tu nous as encouragés à oser, choisir, inventer, équilibrer, se faire plaisir et savoir ce que nous voulons, ... le moment présent ...,  ça été un très bel exercice pour être créateur de sa  vie. Merci pour ces beaux moments de partage.</p>
        <p class="name">Sylvie</p>
      </div>
      <hr class="clear" />
    </div>
  </div>
</div>
