@import "bootstrap";
@import "compass/css3/border-radius";

/*----------------------------------------*/
/*                SESSIONS                */
/*----------------------------------------*/

.sessions {
  width: 250px;
  margin: 0 auto;

  .field > input {
    width: 220px;
    height: 30px !important;
    margin-bottom: 20px;
  }

  .remember {
    margin-bottom: 20px;
  }
}

/*----------------------------------------*/
/*                 ADMIN                  */
/*----------------------------------------*/

.logout_admin {
  float: right;
  margin: 10px 10px 0px 0px;
}

.content-admin {
  width: 960px;
  padding: 20px 0px;
  margin: 0 auto;

  h2 {
    margin: 0px 0px;
    background-color: #C4C4C4;
    @include border-radius(5px, 5px);
    padding: 10px 10px;
    color: white;
  }

  p {
    margin-top: 10px;
    padding-left: 5px;
    font-style: italic;
  }

  form {
    margin-top: 20px;

    input {
      margin-top: 10px;
    }

    input[name="commit"] {
      margin-top: 25px;
    }
  }
}
